@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Tiro+Tamil:ital@0;1&display=swap');

@font-face {
  font-family: "Audiowide";
  src: url("/Audiowide-Regular.ttf")
    format("truetype");
  font-style: normal;
}

.tiro{
  font-family: "Tiro Tamil", serif;
  font-weight: 400;
  font-style: normal;
}

.audiowide{
  font-family: "Audiowide";
}

@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translate(0);
  }
}
.bounce {
  animation: bounce 1s;
}